<div id="shopify-section-template--shipping-icons" class="shopify-section index-section"><div class="page-width">

  <div class="grid grid--uniform grid--flush-bottom"><div class="grid__item medium-up--one-third text-center aos-init aos-animate" data-aos="row-of-3"><div style="margin: 0 auto; max-width: 100px;">



              <div class="image-wrap text-spacing" style="height: 0; padding-bottom: 97.22222222222223%;"><img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900, 1080]" data-aspectratio="1.0285714285714285" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/0689/4308/5833/files/service-7_180x_6f4e9036-9f3d-458e-985a-ec3ad84f4a73_180x.png?v=1675422343 180w, //cdn.shopify.com/s/files/1/0689/4308/5833/files/service-7_180x_6f4e9036-9f3d-458e-985a-ec3ad84f4a73_360x.png?v=1675422343 360w, //cdn.shopify.com/s/files/1/0689/4308/5833/files/service-7_180x_6f4e9036-9f3d-458e-985a-ec3ad84f4a73_540x.png?v=1675422343 540w, //cdn.shopify.com/s/files/1/0689/4308/5833/files/service-7_180x_6f4e9036-9f3d-458e-985a-ec3ad84f4a73_720x.png?v=1675422343 720w, //cdn.shopify.com/s/files/1/0689/4308/5833/files/service-7_180x_6f4e9036-9f3d-458e-985a-ec3ad84f4a73_900x.png?v=1675422343 900w, //cdn.shopify.com/s/files/1/0689/4308/5833/files/service-7_180x_6f4e9036-9f3d-458e-985a-ec3ad84f4a73_1080x.png?v=1675422343 1080w" sizes="100px" srcset="//cdn.shopify.com/s/files/1/0689/4308/5833/files/service-7_180x_6f4e9036-9f3d-458e-985a-ec3ad84f4a73_180x.png?v=1675422343 180w, //cdn.shopify.com/s/files/1/0689/4308/5833/files/service-7_180x_6f4e9036-9f3d-458e-985a-ec3ad84f4a73_360x.png?v=1675422343 360w, //cdn.shopify.com/s/files/1/0689/4308/5833/files/service-7_180x_6f4e9036-9f3d-458e-985a-ec3ad84f4a73_540x.png?v=1675422343 540w, //cdn.shopify.com/s/files/1/0689/4308/5833/files/service-7_180x_6f4e9036-9f3d-458e-985a-ec3ad84f4a73_720x.png?v=1675422343 720w, //cdn.shopify.com/s/files/1/0689/4308/5833/files/service-7_180x_6f4e9036-9f3d-458e-985a-ec3ad84f4a73_900x.png?v=1675422343 900w, //cdn.shopify.com/s/files/1/0689/4308/5833/files/service-7_180x_6f4e9036-9f3d-458e-985a-ec3ad84f4a73_1080x.png?v=1675422343 1080w">
              </div>


          </div>

<h3>DELIVERY</h3>


          <div class="rte-setting text-spacing"><p>We're always doing our best to deliver our products within 30 days worldwide.</p></div>


      </div><div class="grid__item medium-up--one-third text-center aos-init aos-animate" data-aos="row-of-3"><div style="margin: 0 auto; max-width: 100px;">



              <div class="image-wrap text-spacing" style="height: 0; padding-bottom: 97.22222222222223%;"><img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900, 1080]" data-aspectratio="1.0285714285714285" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/0689/4308/5833/files/service-6_180x_01ab1f5f-a43f-4f9b-bb94-3cc6fbbe91b7_180x.png?v=1675422340 180w, //cdn.shopify.com/s/files/1/0689/4308/5833/files/service-6_180x_01ab1f5f-a43f-4f9b-bb94-3cc6fbbe91b7_360x.png?v=1675422340 360w, //cdn.shopify.com/s/files/1/0689/4308/5833/files/service-6_180x_01ab1f5f-a43f-4f9b-bb94-3cc6fbbe91b7_540x.png?v=1675422340 540w, //cdn.shopify.com/s/files/1/0689/4308/5833/files/service-6_180x_01ab1f5f-a43f-4f9b-bb94-3cc6fbbe91b7_720x.png?v=1675422340 720w, //cdn.shopify.com/s/files/1/0689/4308/5833/files/service-6_180x_01ab1f5f-a43f-4f9b-bb94-3cc6fbbe91b7_900x.png?v=1675422340 900w, //cdn.shopify.com/s/files/1/0689/4308/5833/files/service-6_180x_01ab1f5f-a43f-4f9b-bb94-3cc6fbbe91b7_1080x.png?v=1675422340 1080w" sizes="100px" srcset="//cdn.shopify.com/s/files/1/0689/4308/5833/files/service-6_180x_01ab1f5f-a43f-4f9b-bb94-3cc6fbbe91b7_180x.png?v=1675422340 180w, //cdn.shopify.com/s/files/1/0689/4308/5833/files/service-6_180x_01ab1f5f-a43f-4f9b-bb94-3cc6fbbe91b7_360x.png?v=1675422340 360w, //cdn.shopify.com/s/files/1/0689/4308/5833/files/service-6_180x_01ab1f5f-a43f-4f9b-bb94-3cc6fbbe91b7_540x.png?v=1675422340 540w, //cdn.shopify.com/s/files/1/0689/4308/5833/files/service-6_180x_01ab1f5f-a43f-4f9b-bb94-3cc6fbbe91b7_720x.png?v=1675422340 720w, //cdn.shopify.com/s/files/1/0689/4308/5833/files/service-6_180x_01ab1f5f-a43f-4f9b-bb94-3cc6fbbe91b7_900x.png?v=1675422340 900w, //cdn.shopify.com/s/files/1/0689/4308/5833/files/service-6_180x_01ab1f5f-a43f-4f9b-bb94-3cc6fbbe91b7_1080x.png?v=1675422340 1080w">
              </div>


          </div>

<h3>FREE SHIPPING</h3>


          <div class="rte-setting text-spacing"><p>Take advantage of worldwide free delivery all year long.</p></div>


      </div><div class="grid__item medium-up--one-third text-center aos-init aos-animate" data-aos="row-of-3"><div style="margin: 0 auto; max-width: 100px;">



              <div class="image-wrap text-spacing" style="height: 0; padding-bottom: 97.22222222222223%;"><img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900, 1080]" data-aspectratio="1.0285714285714285" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/0689/4308/5833/files/service-5_180x_d8b5a091-cc08-4f94-b92c-020b2186aa52_180x.png?v=1675422379 180w, //cdn.shopify.com/s/files/1/0689/4308/5833/files/service-5_180x_d8b5a091-cc08-4f94-b92c-020b2186aa52_360x.png?v=1675422379 360w, //cdn.shopify.com/s/files/1/0689/4308/5833/files/service-5_180x_d8b5a091-cc08-4f94-b92c-020b2186aa52_540x.png?v=1675422379 540w, //cdn.shopify.com/s/files/1/0689/4308/5833/files/service-5_180x_d8b5a091-cc08-4f94-b92c-020b2186aa52_720x.png?v=1675422379 720w, //cdn.shopify.com/s/files/1/0689/4308/5833/files/service-5_180x_d8b5a091-cc08-4f94-b92c-020b2186aa52_900x.png?v=1675422379 900w, //cdn.shopify.com/s/files/1/0689/4308/5833/files/service-5_180x_d8b5a091-cc08-4f94-b92c-020b2186aa52_1080x.png?v=1675422379 1080w" sizes="100px" srcset="//cdn.shopify.com/s/files/1/0689/4308/5833/files/service-5_180x_d8b5a091-cc08-4f94-b92c-020b2186aa52_180x.png?v=1675422379 180w, //cdn.shopify.com/s/files/1/0689/4308/5833/files/service-5_180x_d8b5a091-cc08-4f94-b92c-020b2186aa52_360x.png?v=1675422379 360w, //cdn.shopify.com/s/files/1/0689/4308/5833/files/service-5_180x_d8b5a091-cc08-4f94-b92c-020b2186aa52_540x.png?v=1675422379 540w, //cdn.shopify.com/s/files/1/0689/4308/5833/files/service-5_180x_d8b5a091-cc08-4f94-b92c-020b2186aa52_720x.png?v=1675422379 720w, //cdn.shopify.com/s/files/1/0689/4308/5833/files/service-5_180x_d8b5a091-cc08-4f94-b92c-020b2186aa52_900x.png?v=1675422379 900w, //cdn.shopify.com/s/files/1/0689/4308/5833/files/service-5_180x_d8b5a091-cc08-4f94-b92c-020b2186aa52_1080x.png?v=1675422379 1080w">
              </div>


          </div>

<h3>CUSTOMER SERVICE</h3>


          <div class="rte-setting text-spacing"><p>A question about your order? Do not hesitate to hire our customer service.</p></div>


      </div></div>
</div>
</div>

{% schema %}
  {
    "name": "Shipping Icons",
    "class": "index-section",
    "settings": [],
    "presets": [{
      "name": "Shipping Icons"
      }]
  }
{% endschema %}
